.vscode/**
.vscode-test/**
.github/**
.idea/**
src/**
test/**
out-test/**
.gitignore
.yarnrc
docset.yml
esbuild.js
docs/**
scripts/**
vsc-extension-quickstart.md
**/tsconfig.json
tsconfig.test.json
**/.eslintrc.json
**/eslint.config.js
**/*.map
**/*.ts
.claude/**
context.md
instructions.md
test-syntax.md
node_modules/**